* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&family=Open+Sans&family=Poppins:wght@500&family=Roboto:wght@300&family=Work+Sans:wght@500&display=swap");
/* Header section */
.header-section {
  background-color: rgba(255, 144, 14, 0.1);
}
.header-des {
  margin-top: 50px;
  margin-left: 150px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
nav ul {
  display: flex;
  margin-right: 100px;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  margin-top: 50px;
}
nav ul li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 50px;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
/* Banner section */
.banner {
  margin-top: 100px;
  text-align: center;
}
.banner-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-left: 50px;
}
.banner-description {
  color: #727272;
}
.btn-primary {
  margin-top: 10px;
  padding: 20px 24px 20px 25px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.banner-image img {
  width: 980px;
  margin-top: 30px;
}
/* Team Section */
.team-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  gap: 30px;
  margin-left: 200px;
}
.team-section {
  display: flex;
  margin-top: 50px;
}
.team-description {
  width: 400px;
  height: 304px;
  margin-left: 55px;
  margin-top: 300px;
  line-height: 30px;
}
.team-description p {
  color: #727272;
}
span {
  color: #ff900e;
  line-height: 40px;
}
.span1 {
  color: #727272;
}
.second-btn {
  background-color: #ff900e;
  padding: 20px 24px;
  border: none;
  margin-top: 20px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
/* Service section */
.service {
  margin-left: 10px;
}
.service p{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 20px;
}
.service-section {
  display: flex;
  
}
.btn{
 
  position: absolute;
  margin-left: 690px;
  margin-top: 1010px;
  
  
}
.btn1{
  background-color: #FF900E;
  padding: 25px 30px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  border-radius: 8px;
  
}
.btn1 p{
  font-size: 25px;
  font-weight: 400;
}
.service-title {
  margin-top: 50px;
  margin-left: 150px;
}
.service-section img {
  margin-top: 100px;
}
.service-description {
  
  margin-left: 20px;
  width: 400px;
  line-height: 30px;
  
}
.service-description p{
  color:  #727272;
}
.feature {
  display: flex;
  width: 480px;
  height: 106px;
  margin-top: 50px;
  
}
.sohel {
  width: 5px;
  height: 100px;
  background-color: #ff900e;
  margin-left: 5px;
  margin-right: 20px;
}

.div1 {
  padding: 20px;
  margin-top: 100px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.div2 {
  padding: 20px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.div3 {
  padding: 20px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.div4 {
  padding: 20px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.image {
  width: 800px;
  margin-right: 20px;
  position: relative;
}
